# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: mmosca <mmosca@student.42lyon.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2023/08/02 15:37:58 by mmosca            #+#    #+#              #
#    Updated: 2023/08/02 15:37:58 by mmosca           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

## -- Folders ------------------------------------------------------------------

.idea/
bin/
build/

## -- Files --------------------------------------------------------------------
